

,<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Teachers</title>
</head>
<body>
    <div style="width: 90%; margin: auto;padding: 20px; background-color: #efefec; border: 2px solid #efefec">
        <h1>Add New Teacher</h1>
    </div>
    <div style="width: 90%; margin: auto;padding: 20px; border: 2px solid #efefec;">
    
    <form method="post" action="/AddTeacher/">
        {% csrf_token %}

        <table>
            <tr>
                <td><label for="programs">Employee ID: </label></td>
                <td><input type="text" name="employee_id" required></td>
            </tr>
            
            <tr>
                <td><label for="programs">First Name: </label></td>
                <td><input type="text" name="first_name" required></td>
            </tr>
            <tr>
                <td><label for="programs">Last Name: </label></td>
                <td><input type="text" name="last_name" required></td>
            </tr>
            <tr>
                <td><label for="programs">Email: </label></td>
                <td><input type="email" name="email" required></td>
            </tr>
            
            <tr>
                
                <td><label>Subjects: </label> </td>
                <td>
                    <select name="subjects" multiple>
                        {% for sub in subjects %}
                    <option value="{{sub.id}}">{{sub}}</option>
                    {% endfor %}
                  </select>
                </td>
            </tr>
            <tr>
                
                <td><label>Programs: </label> </td>
                <td>
                    <select name="program" multiple>
                        {% for sub in programs %}
                    <option value="{{sub.id}}">{{sub}}</option>
                    {% endfor %}
                  </select>
                </td>
            </tr>
            
        </table>
        <br>
        <br>
        <input type="submit" value="Submit" style="padding: 10px; font-weight:bolder; background-color: rgb(79, 142, 219); color: #ffffff; border: rgb(79, 142, 219); ">
        <br>
        <br>
    </form>
</div>
</body>
</html>